#sandboxTop {
	width:300px;
	height:20px;
	background-color:#6B86A6; 
	margin:0px auto;
	-webkit-border-radius:25px 25px 0px 0px;
}
#sandboxCentral {
	width:300px;
	height:200px;
	background-color:#E1E0CE; 
}


/* выдвижная панель*/
#panel {
	background: #754c24;
	height: 200px;
	display: none;
}

a:focus {
	outline: none;
}
#panel {
	background: #754c24;
	height: 200px;
	display: none;
}
.slide {
	margin: 0;
	padding: 0;
	border-top: solid 4px #422410;
	background: url(images/btn-slide.gif) no-repeat center top;
}
.btn-slide {
	background: url(images/white-arrow.gif) no-repeat right -50px;
	text-align: center;
	width: 144px;
	height: 31px;
	padding: 10px 10px 0 0;
	margin: 0 auto;
	display: block;
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
}
.active {
	background-position: right 12px;
}
