#loggerTop {
	width:300px;
	height:20px;
	background-color:#6B86A6; 
	margin:0px auto;
	-webkit-border-radius:25px 25px 0px 0px;
}
#loggerCentral {
	width:300px;
	height:150px;
	background-color:#E1E0CE; 
	margin:0px auto;
}
#logContent{
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	margin:0px auto;
}
#loggerBottom {
	width:300px;
	height:20px;
	background-color:#6B86A6; 
	margin:0px auto;
	-webkit-border-radius:0px 0px 25px 25px;
}
#logger {
	/*position: absolute; */
	bottom: 0px;
	padding: 10px;
	margin:0px auto;
}